<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <style>
    body {
      background-color: black;
      background-repeat: no-repeat;
      text-align: center;
      color: white;
    }
  </style>
</head>
<body>
  <div>
    <h1>Choose an Animal</h1>
  </div>
  <div>
    <a href="/woof">
      <button>Woof</button>
    </a>
    <a href="/quack">
      <button>Quack</button>
    </a>
  </div>
</body>
</html>