<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quack</title>
  <style>
    body {
      background-color: black;
      background-repeat: no-repeat;
      text-align: center;
      color: white;
    }
    img {
      width: 50%;
      height: 50%;
    }
  </style>
</head>
<body>
  <div>
    <a href='/'>
      <button>Home</button>
    </a>
    <a href='/woof'>
      <button>Woof</button>
    </a>
    <a href='/quack'>
      <button>Quack</button>
    </a>
    <h1>Quack 🦆</h1>
    <p>Welcome to the Quack Page! 🐥</p>
  </div>
  <div>
    <img src="{{duck_photo}}">
  </div>
</body>
</html>